### Isnull method:
This method in pandas is used to show there is missing value

In [3]:
import pandas as pd
data={'A':[1,4,7,None],
     'B':[2.0,None,8.0,1.0],
     'C':[3.0,6.0,None,11.0]}
df=pd.DataFrame(data)
df.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2  False  False   True
3   True  False  False

### Dropna method:
This method is used to drop rows with any missing values from a dataframe

In [6]:
import pandas as pd
data={'A':[1,4,7,None],
     'B':[2.0,None,8.0,1.0],
     'C':[3.0,6.0,None,11.0]}
df=pd.DataFrame(data)
df.dropna()

     A    B    C
0  1.0  2.0  3.0

### Fillna Method:
This method is used to fill missing values in dataFrame with specified value

In [7]:
import pandas as pd
data={'A':[1,4,7,None],
     'B':[2.0,None,8.0,1.0],
     'C':[3.0,6.0,None,11.0]}
df=pd.DataFrame(data)
df.fillna(3)

     A    B     C
0  1.0  2.0   3.0
1  4.0  3.0   6.0
2  7.0  8.0   3.0
3  3.0  1.0  11.0

### Interpolate Method:
This method is used to fill missing values by interpolating between exsiting values.

In [8]:
import pandas as pd
data={'A':[1,4,7,None],
     'B':[2.0,None,8.0,1.0],
     'C':[3.0,6.0,None,11.0]}
df=pd.DataFrame(data)
df.interpolate()

     A    B     C
0  1.0  2.0   3.0
1  4.0  5.0   6.0
2  7.0  8.0   8.5
3  7.0  1.0  11.0

### Replace Methods:
In this method is used to replace specific values in a DataFrame

In [11]:
import pandas as pd
import numpy as np
data={'A':[1,4,7,None],
     'B':[2.0,None,8.0,1.0],
     'C':[3.0,6.0,None,11.0]}
df=pd.DataFrame(data)
df.replace(np.nan,0)

     A    B     C
0  1.0  2.0   3.0
1  4.0  0.0   6.0
2  7.0  8.0   0.0
3  0.0  1.0  11.0

### Drop Missing Values by Row :

In [12]:
import pandas as pd
data={'A':[1,2,None,4],
     'B':[5,None,7,8]}
df=pd.DataFrame(data)
f=df.dropna(axis=0)
print(f)

     A    B
0  1.0  5.0
3  4.0  8.0

### Drop Missing Values by Column :

In [13]:
import pandas as pd
data={'A':[1,2,None,4],
     'B':[5,None,7,8]}
df=pd.DataFrame(data)
f=df.dropna(axis=1)
print(f)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

### Fill Missing Value by Mean:

In [14]:
import pandas as pd
data={'A':[1,2,None,4],
     'B':[5,None,7,8]}
df=pd.DataFrame(data)
df_fill_mean=df.fillna(df.mean())
print(df_fill_mean)

          A         B
0  1.000000  5.000000
1  2.000000  6.666667
2  2.333333  7.000000
3  4.000000  8.000000

### Fill Missing Value by Median:

In [15]:
import pandas as pd
data={'A':[1,2,None,4],
     'B':[5,None,7,8]}
df=pd.DataFrame(data)
df_fill_median=df.fillna(df.median())
print(df_fill_median)

     A    B
0  1.0  5.0
1  2.0  7.0
2  2.0  7.0
3  4.0  8.0

### Fill Missing Value by Mode:

In [19]:
import pandas as pd
data={'A':[1,2,None,4,],
     'B':[5,None,7,8,]}
df=pd.DataFrame(data)
df_fill_mode=df.fillna(df.mode().iloc[0])
print(df_fill_mode)

     A    B
0  1.0  5.0
1  2.0  5.0
2  1.0  7.0
3  4.0  8.0