### Panda library: 
It is easy to manipulate and analyze data.in panda we can create data structures like series and dataFrame to work with data effcitively.it use to clean data,performing calculation and visualizing result.

In [1]:
import pandas as pd

### Series:
It is an one dimensional labeled array capable of holding any data type like int,string,floats,etc)

In [5]:
data=[10,20,30,40,50]
data=pd.Series(data)
print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Operations:

### Mathematical Operation:

In [7]:
#Addition
import pandas as pd
ser1=pd.Series([1,2,3,4])
ser2=pd.Series([10,20,30,40])
r=ser1+ser2
print(r)

0    11
1    22
2    33
3    44
dtype: int64

### Filtering Operation:

In [9]:
#Filtering: Here we can filter out specific elements based on conditions
import pandas as pd
ser=pd.Series([15,25,35,45,55])
f_ser=ser[ser>30]
print(f_ser)

2    35
3    45
4    55
dtype: int64

In [13]:
#Filtering by Multiple Conditions.
ser=pd.Series([15,25,35,45,55])
f_ser=ser[(ser>20)&(ser<40)]
print(f_ser)

1    25
2    35
dtype: int64

In [14]:
#Filtering by Index
ser=pd.Series([15,25,35,45,55])
f_ser=ser[[0,2,4]]
print(f_ser)

0    15
2    35
4    55
dtype: int64

In [21]:
#Filtering by Null Value
data=[1,2,None,3,None,5]
ser=pd.Series(data)
f_ser=ser.dropna()
print(f_ser)

0    1.0
1    2.0
3    3.0
5    5.0
dtype: float64

In [22]:
#Filtering by Unique value
data=[10,20,30,10,20,40,30]
ser=pd.Series(data)
u_value=ser.unique()
print(u_value)

[10 20 30 40]

### Aplying functions:
In this function apply fun to each element in thw series.

In [24]:
import pandas as pd
numbers=pd.Series([1,2,3,4,5])
def double_number(x):
    return x*2
double_numbers=numbers.apply(double_number)
print(double_numbers)

0     2
1     4
2     6
3     8
4    10
dtype: int64

### Grouping :
In this function group data in a Series and perform operations on those group.

In [26]:
import pandas as pd
stu=pd.Series(['Alice','Bob','Alice','Bob'])
grades=pd.Series([85,90,88,92])
group_grades=grades.groupby(stu)
for student,grade in group_grades:
    print(student+':')
    print(grade)

Alice:
0    85
2    88
dtype: int64
Bob:
1    90
3    92
dtype: int64

### Merging:
In this method two or more Series based on common columns.

In [30]:
import pandas as pd
hours_studied=pd.Series([10,8,12,9],
index=['Alice','Bob','Apurva','Charlie'])
scores=pd.Series([85,90,88,92],
index=['Alice','Bob','Apurva','Charlie'])
merged_data=pd.merge(hours_studied,scores,left_index=True,right_index=True)
print(merged_data)

ValueError: Cannot merge a Series without a name