In [ ]:
#List a)IT is a collection of Orderd b)IT is changable c)It take Dublicates d) IT is written in square bracket[]

In [1]:
A=['Apple','Banana','Mango'] #Orderdwise
print(A)

['Apple', 'Banana', 'Mango']

In [7]:
A=['Apple','Banana','Mango'] #Changable
A[0]="Cherry"
print(A)

['Cherry', 'Banana', 'Mango']

In [8]:
A=['Apple','Banana','Mango','Mango'] #Dublicate Value
print(A)

['Apple', 'Banana', 'Mango', 'Mango']

In [12]:
A=['Apple','Banana','Mango']  #Add(append)
A.append("cherry")
print(A)

['Apple', 'Banana', 'Mango', 'cherry']

In [13]:
A=['Apple','Banana','Mango']  #Insert
A.insert(2,"cherry")
print(A)

['Apple', 'Banana', 'cherry', 'Mango']

In [19]:
A=['Apple','Banana','Mango']  #Extend
B=['cherry','Grapes','banana']
A.extend(B)
print(A)

['Apple', 'Banana', 'Mango', 'cherry', 'Grapes', 'banana']

In [20]:
A=['Apple','Banana','Mango'] #Remove a Spesific Value
A.remove('Apple')
print(A)

['Banana', 'Mango']

In [21]:
A=['Apple','Banana','Mango'] #Remove a Spesific index by using pop
A.pop(1)
print(A)

['Apple', 'Mango']

In [28]:
A=['Apple','Banana','Mango'] #Delete a Spesific index by using del
del A [1]
print(A)

['Apple', 'Mango']

In [29]:
A=['Apple','Banana','Mango'] #Clear the list 
A.clear()
print(A)

[]

In [36]:
A=['Apple','Banana','Mango'] #loop through the list 
for i in A:
    print(i)

Apple
Banana
Mango

In [39]:
A=['Apple','Banana','Mango'] #Sort in Asc and Desc
A.sort()
print(A)

['Apple', 'Banana', 'Mango']

In [40]:
A=['Apple','Banana','Mango'] #Sort in  Desc
A.sort(reverse=True)
print(A)

['Mango', 'Banana', 'Apple']

In [41]:
A=['Apple','Banana','Mango'] #Copy the list
B=A.copy()
print(B)

['Apple', 'Banana', 'Mango']

In [42]:
A=['Apple','Banana','Mango'] #Copy the list
B=list(A)
print(B)

['Apple', 'Banana', 'Mango']