In [ ]:
#SET a)IS unorder b)Dublicate not allowed c)unchangable d)unindexed c)it written in curly bracket{}

In [1]:
x={'Apple', 'Banana', 'Mango', 'cherry'}  #unorder and unindexed
print(x)

{'Banana', 'Mango', 'Apple', 'cherry'}

In [2]:
x={'Apple', 'Banana', 'Mango', 'cherry','Mango'}  # Dublicate not allowed and unchangable
print(x)

{'Mango', 'cherry', 'Apple', 'Banana'}

In [3]:
x={'Apple', 'Banana', 'Mango', 'cherry','Mango'} #length string
print(len(x))

4

In [8]:
x={"apurva"}  #data type
y=123
print(type(x))
print(type(y))

<class 'set'>
<class 'int'>

In [3]:
x={'Apple', 'Banana', 'Mango', 'cherry'}  #loop
for i in x:
    print(i)

cherry
Mango
Apple
Banana

In [4]:
x={'Apple', 'Banana', 'Mango', 'cherry'}  #Add
x.add("orange")
print(x)

{'Banana', 'orange', 'cherry', 'Apple', 'Mango'}

In [5]:
x={'Apple', 'Banana', 'Mango', 'cherry'} #Clear
x.clear()
print(x)

set()

In [6]:
f={'Apple', 'Banana', 'Mango', 'cherry'}  #Copy
x=f.copy()
print(x)

{'cherry', 'Mango', 'Apple', 'Banana'}

In [7]:
x={'Apple', 'Banana', 'Mango', 'cherry'}  # difference between two sets
y={'apurva','yogita','maithili','Apple'}
z=x.difference(y)
print(z)

{'cherry', 'Mango', 'Banana'}

In [10]:
x={'Apple', 'Banana', 'Mango', 'cherry'}        # difference update between two sets
y={'apurva','yogita','maithili','Apple'}
x.difference_update(y)
print(x)

{'cherry', 'Mango', 'Banana'}

In [11]:
x={'Apple', 'Banana', 'Mango', 'cherry'}     #intersection similarity between two or more set
y={'apurva','yogita','maithili','Apple'} 
z=x.intersection(y)
print(z)

{'Apple'}