### For loop is use for making a sequence.its like a loop that goes through a list of things one by one.

In [1]:
fruits=['apple','banana','mango','cherry']
for i in fruits:
    print(i)

apple
banana
mango
cherry

In [2]:
word='Hello'
for i in word:
    print(i)

H
e
l
l
o

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
ages={"apurva":22,'maithili':18,'snehal':25}
for key in ages:
    print(key)

apurva
maithili
snehal

In [8]:
word='hello'
vowels='aeiou'
count=0
for letter in word:
    if letter in vowels:
        count+=1
        print(count)

1
2

In [11]:
num=[10,20,30,40,50]
total=0
for numbers in num:
    total+=numbers
    print(total)

10
30
60
100
150

In [19]:
for i in range(1,6):
    if i%2==0:
        print(i ,"is even")
    else:
              print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [45]:
tuples=[(1,'a'),(2,'b'),(3,'c')]
for num,char in tuples:
    print(f"number:{num},character:{char}")

number:1,character:a
number:2,character:b
number:3,character:c

In [34]:
ages={"apurva":22,'maithili':18,'snehal':25}
for key,value in ages.items():
    print(ages,"{key}:{value}")

{'apurva': 22, 'maithili': 18, 'snehal': 25} {key}:{value}
{'apurva': 22, 'maithili': 18, 'snehal': 25} {key}:{value}
{'apurva': 22, 'maithili': 18, 'snehal': 25} {key}:{value}

In [41]:
num=[15,25,10,35,20]
max_num=num[1]
for number in num:
    if number>max_num:
        print(max_num)

25